body{
	background: #ddd;
	font-family: Georgia, serif;
	font-size: 15px;
}

.content{
	width: 600px;
	margin: 0 auto 0 auto;
	background: #fff;
	padding: 10px;
}

#action, #description, #before{
	margin: 10px 0 10px 0;
}

#name{
	font-weight: bold;
	font-size: 30px;
}

#error{
	color: #aa0000;
}

@media screen and (max-width: 600px){
	.content{
		width: 100%;
		margin: 0;
	}
}